#Virtual environment
.venv/
venv/


#Environment variables
.env
.env.*
env.
env/
ENV/

#Cache files
__pycache__/
*.pyc
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# macOS system files
.DS_Store

# VS Code settings
.vscode/

#Sample data
data/

#Outputs
outputs/

#Obsolete models
models/unit_type_embed_classifier.joblib
models/housekeeping_classifier.joblib
models/tfidf_vectorizer.joblib
models/tfidf_vectorizer_v2.joblib
models/housekeeping_classifier_v2.joblib


#Database
*.db
