#Virtual environment
.venv/
venv/


#Environment variables
.env
.env.*
env.
ENV/

#Cache files
__pycache__/
*.pyc
*.py[cod]
*.egg-info/

# macOS system files
.DS_Store

# VS Code settings
.vscode/

#Sample data
data/

#Outputs
outputs/

#Models: can be regenerated w/ train.py
*.joblib

#Database
*.db
